#container{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

#left{
  width: 40vw;
  
  align-items: center;
  justify-content: center;
  margin: auto;
}


#right{
  width: 30vw;
  margin: auto;
  margin-top: 35vh;
  align-items: center;
  justify-content: center;
  height: 45vh;
  background-color: red;
}